body {
    margin-left:5px;
    margin-right:5px;
    margin-top:5px;
}

a{
   color:blue; 
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

#results{
   border:1px solid lightblue;
   overflow-y: scroll;
   height:400px;
}

#loader {
  
    position: absolute;
    left: 30%;
    /*
    border: 16px solid #f3f3f3;  Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-bottom: 16px solid #3498db; /* Blue */;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
